# Entornos virtuales
.venv/
.env/

# Archivos y carpetas de IDEs
.idea/
.vscode/

# Artefactos de compilación y pruebas
*.pyc
*.pyo
__pycache__/
*.pytest_cache/

# Configuración local y archivos sensibles
.env

# Archivos de registros y temporales
*.log
*.tmp

# Archivos específicos del proyecto
test_main.http
