# Entorno virtual de Python
.venv/
*.pyc
__pycache__/

# Configuración de AWS
aws-config/

# Archivos temporales y de salida
temp-zip-content/
*.zip

# Configuración local y archivos sensibles
.env

# Archivos generados por el editor/IDE
.vscode/
.idea/
*.swp

# Archivos de prueba y caché
pytest_cache/
*.log

# Configuración y dependencias instaladas
*.egg-info/

# Ignorar el paquete del calculador
basic_calculator_package/

# Ignorar el paquete ZIP
zip/package/

# Ignorar archivos de configuración y prueba
pytest.ini
test_main.http
